---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
		<a href="/blog/">blog</a>

		<h1>Blog astro acerca de</h1>
		<h2>My Astro Site</h2>
        
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Expedita rerum non dolores ea voluptatem adipisci harum similique sit enim obcaecati. 
			Commodi, iste sequi deserunt magnam in consequatur. Ullam, dolorem numquam.</p>
			
		 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Expedita rerum non dolores ea voluptatem adipisci harum similique sit enim obcaecati. 
			Commodi, iste sequi deserunt magnam in consequatur. Ullam, dolorem numquam.</p>

	</body>
</html>
